:root {
  font-family: Poppins, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  background-color: #0b111f;
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media (max-width: 769px) {
    flex-direction: column;
  }
}

.col {
  width: 48%;
  height: 100%;
  justify-content: center;
  text-align: start;
  @media (max-width: 769px) {
    width: 100%;
  }
}

.name {
  margin: 0;
  font-size: 48px;
  color: white;
  font-weight: 400;
}

.profession {
  margin: 0;
  font-size: 20px;
  color: rgba(255, 255, 255, 1);
  font-weight: 200;
}

.description {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 200;
}

p {
  color: white;
}
